<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--1 配置原始工厂对象-->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.25.129:61616"/>
     </bean>
    <!--2 使用spring包装原始工厂-->
    <bean id="singleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="targetConnectionFactory"/>
    </bean>
    <!--3 定义目标对象（点对点）-->
    <bean id="goodsQueryQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="goods_quene_query"/>
    </bean>
    <!--5 配置删除的目标对象-->
    <bean id="goodsDeleteQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="goods_queue_delete"></constructor-arg>
    </bean>
    <!--6 配置静态文件生成的目标对象-->
    <bean id="pageQueue" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg name="name" value="page_topic"></constructor-arg>
    </bean>
    <!--配置删除静态文件的目标对象-->
    <bean id="pageDelete" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg name="name" value="page_topic_delete"/>
    </bean>
    <!--4 配置jms模板对象-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"/>
    </bean>

</beans>